/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Charmonman" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #EEE8AA;
  font-family: 'Charmonman', cursive;
  padding: 5px 25px;
  font-size: 24px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: 'Charmonman', cursive;
  font-size: 66px;
  color: azure
}
p1 { 
  color: darkgrey;
  front-size: px;
}

p2 {
  
}

p3 { 
  color: azure
  
}